@font-face {
    font-family: 'DMSans' sans-serif;
    font-weight: 700;
    src: url(//fonts/DMSans-Bold.ttf);
}

@font-face {
    font-family: 'DMSans' sans-serif;
    font-weight: 400;
    src: url(//fonts/DMSans-Regular.ttf);
}

@font-face {
    font-family: "CrimsonText";
    font-weight: 400;
    src: url(//fonts/CrimsonText-Regular.ttf);
}

@font-face {
    font-family: "RobotoMono";
    font-weight: 400;
    src: url(//fonts/RobotoMono-Regular.ttf);
}
