@font-face {
    font-family: 'DMSans' sans-serif;
    font-weight: 700;
    src: url(DMSans-Bold.ttf);
}

@font-face {
    font-family: 'DMSans' sans-serif;
    font-weight: 400;
    src: url(DMSans-Regular.ttf);
}

@font-face {
    font-family: "CrimsonText";
    font-weight: 400;
    src: url(CrimsonText-Regular.ttf);
}

@font-face {
    font-family: "RobotoMono";
    font-weight: 400;
    src: url(RobotoMono-Regular.ttf);
}

